.c-mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.c-mr-4 {
  margin-right: 1rem !important;
}

.c-text-danger {
  color: #2e2e2e !important;
}

.c-font-extrabold {
  font-weight: 800 !important;
}

.c-text-gray-dark {
  color: #191a1a !important;
}

.c-font-oswald {
  font-family: $font-Oswald;
}
